{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "add-module-exports",
      {
        "addDefaultProperty": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}