.autocomplete-items {
  position: absolute;
  border: 1px solid gray;
  border-radius: 2px;
  z-index: 99;
  min-width: 100px;
  max-width: 400px;
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  font-size: 10px;
  color: white;
  padding: 3px;
  cursor: pointer;
  background-color: black;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: gray;
  color: white;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.context a {
  color: wheat;
}
